/*
 * @name Purple Dark Glass
 * @description A transparent Discord theme with colors from the ZorinOS purple dark theme
 * @author Curve, D3SOX
 * @version 2.0
*/
.theme-dark {
  --background-floating: #221f26 !important;
  --background-primary: rgba(26, 24, 30, 0.2) !important;
  --background-secondary: rgba(26, 24, 30, 0.2) !important;
  --background-secondary-alt: #1a181e !important;
  --brand-500: #4e3e72 !important;
  --brand-560: rgba(78, 62, 114, 0.8) !important;
  --brand-600: rgba(78, 62, 114, 0.5) !important;
  --channeltextarea-background: #221f26 !important;
  --background-tertiary: rgba(26, 24, 30, 0.2) !important;
  --background-accent: #7d718c !important;
  --background-modifier-active: #221f26 !important;
  --text-normal: #d8c4f1 !important;
  --text-danger: #fb7c7c !important;
  --text-warning: #faa483 !important;
  --text-positive: #a3be8c !important;
  --header-primary: #e5e9f0 !important;
  --header-secondary: #eceff4 !important;
  --background-modifier-hover: #302b36 !important;
  --background-modifier-accent: #302b36 !important;
  --background-modifier-selected: #302b36 !important;
  --background-mentioned: rgba(250, 164, 131, 0.1) !important;
  --background-mentioned-hover: rgba(250, 164, 131, 0.11) !important;
  --scrollbar-auto-thumb: #221f26 !important;
  --scrollbar-auto-track: #1a181e !important;
}

[class*=sidebar_] [class*=panels__] {
  --background-secondary-alt: rgba(26, 24, 30, 0.8) !important;
}

[class*=button_][class*=buttonColor_][class*=buttonActive],
[class*=button_] [class*=buttonColor_][class*=buttonActive] {
  background-color: rgba(163, 190, 140, 0.8) !important;
}

[class*=button_][class*=buttonColor_][class*=buttonActive]:hover,
[class*=button_] [class*=buttonColor_][class*=buttonActive]:hover {
  background-color: #a3be8c !important;
}

[class*=sidebar_]:has([class*=privateChannels__]),
[class*=privateChannels__] [class*=content_] {
  background-color: transparent !important;
}

[class*=contentWrapper__],
[class*=unicodeShortcut__],
[class*=categorySection_] [class*=header_],
#emoji-picker-tab-panel [class*=emojiPicker_],
#emoji-picker-tab-panel [class*=header__],
[class*=messagesPopoutWrap_],
[class*=recentMentionsPopout_],
*[id^=popout_],
[class*=itemCard__] [class*=section_] {
  --background-secondary: #221f26 !important;
  background-color: #302b36 !important;
}

[class*=chat__] [class*=wrapper_][class*=minimum_]:has([class*=callContainer_]) {
  background-color: rgba(26, 24, 30, 0.2) !important;
}

[class*=pageWrapper_]:has([class*=guildListSection__]) {
  background-color: rgba(26, 24, 30, 0.2) !important;
}

.theme-dark [class*=layerContainer_] [class*=root_] {
  background-color: #1a181e !important;
}

.theme-dark [class*=layerContainer_] [class*=footer_] {
  background-color: #221f26 !important;
}
